.rmsc {
  --rmsc-main: #34caae;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: rgb(221, 221, 221);
  --rmsc-gray: rgb(207, 207, 207);
  --rmsc-gray2: #acacac;
  --rmsc-mint: #34caae;
  --rmsc-bg: #fff;
  --rmsc-p: 8px;
  --rmsc-p4: 4px;
  --rmsc-p10: 10px;
  --rmsc-radius: 3px;
  --rmsc-p5: 5px;
  --rmsc-h: 38px;
  --rmsc-f11: 11px;
  --rmsc-f12: 12px;
  --rmsc-f14: 14.5px;
  --rmsc-f15: 15px;
  --rmsc-letter: -1.5px;
  --rmsc-24: 24px;
  --rmsc-25: 25px;
  --rmsc-m-3: -3px;
  --rmsc-m-10: -10px;
  --rmsc-m-20: -20px;
  --rmsc-m0: 0px;
  --rmsc-fw350: 350;
}

.rmsc * {
  box-sizing: border-box;
}

.rmsc .gray {
  color: var(--rmsc-gray);
}

.rmsc .mint {
  color: var(--rmsc-gray);
}

.rmsc .dropdown-content {
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 45vw;
  padding: 5px;
}

.rmsc .dropdown-content .panel-content {
  overflow: hidden;
  font-size: var(--rmsc-f14);
  padding-bottom: var(--rmsc-f15);
  border-radius: 10px;
  background: var(--rmsc-bg);
  box-shadow: 0 0 0 1px rgba(161, 161, 161, 0.1), 0 4px 11px rgba(0, 0, 0, 0.1);
}

.rmsc .dropdown-container {
  position: relative;
  outline: 0;
  background-color: var(--rmsc-bg);
  border: 1px solid var(--rmsc-border);
  border-radius: var(--rmsc-p5);
}

.rmsc .dropdown-container-select {
  position: relative;
  outline: 0;
  background-color: var(--rmsc-bg);
  border: 1px solid var(--rmsc-mint);
  box-shadow: var(--rmsc-mint) 0 0 0 1px;
  border-radius: var(--rmsc-p5);
}


.rmsc .select-items {
  border-color: var(--rmsc-mint);
}

.rmsc .dropdown-container[aria-disabled="true"]:focus-within {
  box-shadow: var(--rmsc-gray) 0 0 0 1px;
  border-color: var(--rmsc-gray);
}

.rmsc .dropdown-container:focus-within {
  box-shadow: var(--rmsc-main) 0 0 0 1px;
  border-color: var(--rmsc-main);
}

.rmsc .dropdown-heading {
  position: relative;
  padding: 0 var(--rmsc-p);
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--rmsc-h);
  cursor: default;
  outline: 0;
}

.rmsc .dropdown-heading .dropdown-heading-value {
  color: var(--rmsc-mint);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  margin-left: var(--rmsc-f12);
}

.rmsc .clear-selected-button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  display: flex;
}

.rmsc .options {
  overflow-y: auto;
  margin: 0;
  padding: 10px;
  padding-top: 25px;
}

.rmsc .options li {
  list-style: none;
  margin: 0;
}

.rmsc .select-item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: var(--rmsc-p);
  outline: 0;
}

.rmsc .select-item:hover,
.rmsc .select-item:focus {
  background: var(--rmsc-hover);
}



.rmsc .no-options {
  padding: var(--rmsc-p);
  text-align: center;
  color: var(--rmsc-mint);
}

.rmsc .search {
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--rmsc-border);
}

.rmsc .search input {
  background: none;
  height: var(--rmsc-h);
  padding: 0 var(--rmsc-p);
  width: 100%;
  outline: 0;
  border: 0;
}

.rmsc .search-clear-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: 0;
  padding: 0 calc(var(--rmsc-p) / 2);
}

.rmsc .search-clear-button [hidden] {
  display: none;
}

.rmsc .item-renderer {
  display: flex;
  align-items: baseline;
  margin-top: var(--rmsc-m-3);
  margin-bottom: var(--rmsc-m-3);

}

.rmsc .item-renderer-main {
  font-weight: 600;
  display: flex;
  align-items: baseline;
  margin-left: 5px;
}

.rmsc .all-select-style:hover,
.rmsc .all-select-style:focus {
  background: #fff;
}

.rmsc .item-renderer input {
  margin: 0;
  margin-right: var(--rmsc-p5);
}

.rmsc .item-renderer.disabled {
  opacity: 0.5;
}

.rmsc .spinner {
  animation: rotate 2s linear infinite;
}

.rmsc .spinner .path {
  stroke: var(--rmsc-border);
  stroke-width: 4px;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.rmsc .item-styles {
  width: 115px;
  font-size: var(--rmsc-f14);
  font-weight: var(--rmsc-fw350);
  text-align: left;
  display: inline-block;
  letter-spacing: var(--rmsc-letter);
  padding-left: var(--rmsc-m-20);
}

.rmsc .dott-line {
  width: 95%;
  height: 1px;
  /* dashed border */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK4AAAABCAYAAABHRpXVAAAABHNCSVQICAgIfAhkiAAAAB1JREFUKFNj3Hvi/H8GJOBsYciIzB+VHw2fwZg+AFq4WAKaYTwaAAAAAElFTkSuQmCC");
  margin: 8px;
  margin-top: 12px;
}

.rmsc .split-section {
  width: 45%;
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

/*checkbox button css*/
/* hide original input(checkbox) style */
.rmsc input[type='checkbox'],
.rmsc input[type='checkbox']:checked {
  appearance: none;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.rmsc .icon-default {
  font-size: 10px;
  color: var(--rmsc-gray2);
  margin-right: 8px;
}

.rmsc .icon-all-select {
  color:  var(--rmsc-gray2);
  font-size: 20px;
  margin-bottom: -4px;
  margin-right: var(--rmsc-p10);
}

.rmsc .checked {
  color: var(--rmsc-mint);
}

.rmsc .all-select-text {
  font-size: var(--rmsc-f15);
  font-weight: 400;
  text-align: left;
  letter-spacing: -1.1px;
}

/*mip 중복 css*/
.rmsc .btn {
  background: var(--rmsc-mint);
  padding: var(--rmsc-p10);
  color: #fff;
  font-size: var(--rmsc-f15);
  border-radius: 5px;
  border: 0px;
  width: 80px;
  height: 40px;
  font-size: var(--rmsc-f14);
  font-weight: 500;
  float: right;
  margin-right: var(--rmsc-f15);
  letter-spacing: -1px;
  font-weight: 500;
}

.rmsc .blank-style {
  height: 28px;
}

.rmsc .dropdown-header-font {
  letter-spacing: -1.1px;
  font-size: var(--rmsc-f14);
  font-weight: 500;
}

.rmsc .select-count {
  width: var(--rmsc-24);
  height: var(--rmsc-24);
  padding: var(--rmsc-p5);
  text-align: center;
  color: white;
  font-size: var(--rmsc-f11);
  font-weight: 500;
  background-color: var(--rmsc-mint);
  border-radius: 100%;
  position: absolute;
  margin-top: var(--rmsc-m-10);
  margin-left: 90%;
  letter-spacing: -1.1px;
}